@import "~animate.css"  // Библиотека Animate.css
@import "variables"     // Все переменные

html, body
  height: 100%
  min-height: 100%

body
  margin: 0 auto
  background-color: #2f2f2f
  color: white
  font-family: 'Ubuntu', sans-serif

header
  position: relative
  z-index: 2

  padding-top: 32px
  padding-bottom: 32px

  width: 100%

  background-color: #3a77a6
  box-sizing: border-box

  +shadow(0, 5px, 10px, 0, 0.25)
  +gradient($blueLight, $blueDark)


// Mobile navigation blocks
.unwrap-nav, .wrap-nav
  display: none

  height: 48px
  width: 48px

  background: url('/img/lines.svg') center no-repeat
  background-size: contain

.unwrap-nav
  background: url('/img/lines.svg') center no-repeat

.wrap-nav
  position: absolute

  top: 16px
  right: 16px

  background: url('/img/cross.svg') center no-repeat

// Подменю для мобильной верстки
nav.main .submenu
  display: none

h4
  margin: 1em 0

  font-weight: normal

.sitePage-submenu
  padding-top: 16px
  padding-bottom: 16px

  width: 100%

  background: white
  box-sizing: border-box

  .active
    text-decoration: underline

  a
    text-decoration: none
    color: #202020

  a:hover
    text-decoration: underline

  nav
    margin: auto

    max-width: 1024px

    ul
      display: flex

      margin: 0
      padding: 0

      font-size: 14px

    li
      margin-left: 8px
      padding-right: 8px

      border-right: thin solid gray

      list-style-type: none

    li:first-of-type
      margin-left: 0

    li:last-of-type
      padding-right: 0
      border-right: 0

div.header-wrapper, nav.submenu, .footer-wrapper
  padding-right: 1em
  padding-left: 1em

  box-sizing: border-box

.header-wrapper
  display: flex
  align-items: center

  max-width: 1024px
  margin: auto

  .menu
    flex: 1

  .logo
    margin-right: 32px

    height: 66px
    width: 66px

    background: url("/img/logo-new.svg") center no-repeat
    background-size: contain

  .active
    text-decoration: underline

  ul
    margin: 0
    padding: 0

  h1
    font-size: 24px
    font-weight: normal

    a
      color: white
      text-decoration: none
    
  h1.mobile-title
    display: none
    float: left

    margin-bottom: 0

  li
    list-style-type: none
    float: left
    margin-left: 8px
    padding-right: 8px
    border-right: thin solid white

    a
      text-decoration: none
      color: white

    a:hover
      text-decoration: underline

  li:first-of-type
    margin-left: 0

  li:last-of-type
    padding-right: 0
    border-right: 0

// Слайдер
.slider
  position: relative
  z-index: 1

  height: 512px

  background: url("/img/1.png") no-repeat
  background-size: cover

  +shadow(0, 5px, 10px, 0, 0.25)

.post-title
  color: inherit
  text-decoration: none

span.date
  color: grey
  font-size: 1em

img.picture
  margin-top: 16px

  width: 100%

main
  margin: -178px auto -72px
  padding: 210px 32px 200px

  min-height: 100%

  box-sizing: border-box
  max-width: 1024px

  a
    color: white
    text-decoration: none

  .left
    float: left
    width: 640px

  .right
    float: right
    width: 256px

  .title
    float: left
    margin: 0

// Подвал
footer
  margin: 0 auto

  height: 72px
  width: 100%

  +shadow(0, 5px, 10px, 0, 0.25)
  +gradient($blueLight, $blueDark)

  .footer-wrapper
    max-width: 1024px
    margin: 0 auto

    div.copyright, a
      line-height: 72px

    div.copyright
      float: left

    a
      float: right

      text-decoration: none
      color: white

// Секция на странице
section
  a:link
    text-decoration: underline

  a:hover
    text-decoration: none

  h2:not(:first-of-type)
    margin: 2em 0 0.83em 0

  img
    width: 100%

// Блок с администрацией
div.manager
  position: relative

  margin: 64px 0

  padding-left: 224px

  min-height: 192px

  div.image, div.body
    display: inline-block

  div.image
    position: absolute

    top: 0
    left: 0

    height: 192px
    width: 192px

    background-position: center
    background-size: cover
    border-radius: 50%

    +shadow(0, 5px, 10px, 0, 0.25)

  div.body
    max-width: 512px

// Таблица с контактами
table.contacts
  margin-bottom: 64px

  width: 100%

  border-spacing: 0

  th, td
    padding: 32px 0

    border-bottom: $blueLight solid thin
    word-wrap: break-word

  th
    font-size: 1.17em

  td
    width: 33.3333%

  td:nth-of-type(2n)
    text-align: center

  td:nth-of-type(3n)
    text-align: right

// Хлебные крошки
span.bread
  display: block

// Обертка всех заголовков
div.page-title
  margin: 1em 0

  h1
    margin: 0

// Заголовки направлений подготовки 
h1.blue, h1.green, h1.purple
  display: inline

h1.blue
  +gradient($blueLight, $blueDark)

h1.green
  +gradient($greenLight, $greenDark)

h1.purple
  +gradient($purpleLight, $purpleDark)

// Цитата
blockquote
  margin: 32px 0 32px 16px

  padding: 0 32px

  border-left: $blueLight thick solid

// Подпись
span.signature
  float: right

  max-width: 512px

  font-style: italic

.clear
  clear: both
  
// Импорт адаптивной верстки
@import "adaptive"
@import "homepage"